<div class="left_col">
    <h1 id="learn_more">Want to find out more about <span>Camtweet</span>?</h1>
    <p>You should email us at <%= link_to "camtweet@justin.tv", "mailto:camtweet@justin.tv" %></p>
</div>

<%= render :partial => "right.rhtml" %>